@import "tailwindcss";
@tailwind components;
@tailwind utilities;

/* پنهان کردن اسکرول‌بار برای تمامی مرورگرها */
.hide-scrollbar {
  -ms-overflow-style: none;  /* برای اینترنت اکسپلورر و اج */
  scrollbar-width: none;  /* برای فایرفاکس */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* برای کروم، سافاری و اپرا */
}

/* Safe area برای iOS و اندروید */
:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom);
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}