@import "tailwindcss";
@tailwind components;
@tailwind utilities;

/* پنهان کردن اسکرول‌بار برای تمامی مرورگرها */
.hide-scrollbar {
  -ms-overflow-style: none;  /* برای اینترنت اکسپلورر و اج */
  scrollbar-width: none;  /* برای فایرفاکس */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* برای کروم، سافاری و اپرا */
}

